<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
     /* Links */
     a.fn-item:hover {
          color: white;
          text-shadow: 0 0 2px #415826, 0 0 5px #415826
     }
     a.fn-item {
          text-shadow: 0 0 2px #fff, 0 0 5px #fff
        }
        .post-holder.odd {
          background: #22343a;
          color: white;
        }
        .blog-description {
          margin: 0;
          font-size: 2.5rem;
          line-height: 1.5em;
          font-weight: 400;
          font-family: "Roboto Slab", serif;
          letter-spacing: 0;
          text-shadow: 0 0 2px #22343a, 0 0 5px #22343a
        }
        h1 {
          font-size: 5rem;
          line-height: 1.2em;
          letter-spacing: -2px;
          text-indent: -3px;
          color: #22343a;
          text-shadow: 0 0 5px #fff, 0 0 10px #fff
        }
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ " images/apple-touch-icon.png" | absURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ " images/favicon-32x32.png" | absURL }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ " images/favicon-16x16.png" | absURL }}" />